.advantage-living {
  background-color: $bg-main-color;
}

.advantage-living__list {
  @include reset-list();

  width: $wrapper-mobile-width;
  margin: 0 auto;
  // padding-top: 18px;
  // padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .advantage-living__list {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
