.card {
  margin: 0 auto;
  width: 320px;
  padding-top: 40px;

  background-color: $bg-main-color;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--err {
    padding-bottom: 35px;
  }

  &--ok {
    padding-bottom: 0;
  }
}

.card__info {
  padding-left: 55px;
  padding-right: 55px;

  text-align: center;
}

.card__title {
  @include set-font($fz:18px, $lh:26px);
}

.card__text {
  @include set-font($fz:14px, $lh:24px, $fw:normal);
  color: $color-grey;
}

.card__botton-wrap {
  margin: 0 auto;
}

.card--err .card__botton-wrap {
  margin-top: 25px;
}

.card--ok .card__botton-wrap {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $bg-color;
}

.card__button {
  margin: 0 auto;

  @include button($pt:16px, $ph:0, $fz:18px, $lh:26px);

  cursor: pointer;
}

.card--err .card__button {
  width: 180px;
}

.card--ok .card__button {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .card {
    min-height: 347px;

    &--err {
      width: 400px;
    }

    &--ok {
      width: 640px;
    }
  }

  .card--err .card__info {
    padding-left: 59px;
    padding-right: 59px;
  }

  .card--ok .card__info {
    padding-left: 112px;
    padding-right: 112px;
  }

  .card__title {
    @include set-font($fz:30px, $lh:40px);
  }

  .card__text {
    @include set-font($fz:14px, $lh:24px, $fw:normal);
  }

  .card--ok .card__botton-wrap {
    margin-top: 40px;
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .card--err .card__button {
    width: 272px;
    margin: 0 auto;
    padding-left: 122px;
    padding-right: 122px;
  }

  .card--ok .card__button {
    width: 458px;
    margin: 0 auto;
    padding-left: 154px;
    padding-right: 154px;
  }
}
