.contact {
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;
}

//.contact__title {outline: 1px dotted green;}

.contact__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 0;

  &:last-of-type .contact__label {
    margin-top: 10px;
  }
}

.contact__label {
  padding-left: 22px;
  padding-bottom: 8px;

  @include set-font($fz:14px, $lh:26px, $fw:normal);
  color: $color-grey;
}

.contact__wrap {
  position: relative;

  display: flex;
  justify-content: space-between;

  height: 58px;
}

.contact__input {
  height: 100%;
  width: 100%;
  padding: 16px 78px 16px 22px;

  @include set-font($fz:18px, $lh:26px);

  background-color: $white-snow-color;
  border: none;

  &::placeholder {
    color: $placeholder-color;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    border: solid 4px #e5e5e5;
    background-color: #ffffff;
  }
}

.contact__icon-wrap {
  position: absolute;
  top: 1px;
  right: 1px;

  width: 58px;
  min-width: 58px;
  height: 97%;
  z-index: 1;

  background-color: #e6e6e6;
}

.contact__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet-width) {
  .contact__item:first-of-type .contact__label {
    padding-top: 3px;
  }

  .contact__item:last-of-type .contact__label {
    padding-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .contact__title {
    padding-top: 16px;
    padding-bottom: 74px;
  }

  .contact__block {
    display: flex;
    justify-content: space-between;

    width: 960px;
  }

  .contact__item:first-of-type .contact__label {
    padding-top: 9px;
  }

  .contact__item:last-of-type .contact__label {
    padding-top: 0;
  }

  .contact__item {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 400px;
    margin-bottom: 0;

    &:last-of-type {
      width: 479px;
    }
  }

  .contact__label {
    flex-grow: 1;

    padding-left: 0;
    padding-right: 0;
  }

  .contact__wrap {
    width: 316px;
    min-width: 316px;
  }

  .contact__label2 {
    display: none;
  }

  .contact__input {
    width: 316px;
  }
}
