.contact {
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;
}

//.contact__title {outline: 1px dotted green;}

.contact__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 0;

  &:last-of-type .contact__item-label {
    margin-top: 10px;
  }
}

.contact__item-label {
  padding-left: 22px;
  padding-bottom: 8px;

  @include set-font($fz:14px, $lh:26px, $fw:normal);
  color: $color-grey;
}

.contact__item-input {
  width: 100%;
  padding: 16px 82px 16px 22px;

  @include set-font($fz:18px, $lh:26px);

  background-color: $white-snow-color;
  border: none;

  &::placeholder {
    color: $placeholder-color;
  }
}

.contact__icon {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 58px;
    height: 95%;

    background-color: #e6e6e6;
  }

  &-phone::before,
  &-email::before {
    background-repeat: no-repeat;
    background-position: top 50% right 50%;
    background-size: 18px 18px;
  }

  &-phone {
    &::before {
      background-image: url("../../img/icon-phone.svg");
    }
  }

  &-email {
    &::before {
      background-image: url("../../img/icon-mail.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .contact__item:first-of-type .contact__item-label {
    padding-top: 3px;
  }

  .contact__item:last-of-type .contact__item-label {
    padding-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .contact__title {
    padding-top: 16px;
    padding-bottom: 74px;
  }

  .contact__block {
    display: flex;
    justify-content: space-between;
  }

  .contact__item:first-of-type .contact__item-label {
    padding-top: 17px;
  }

  .contact__item:last-of-type .contact__item-label {
    padding-top: 8px;
  }

  .contact__item {
    flex-direction: row;

    margin-bottom: 0;
  }

  .contact__item-label {
    padding-left: 0;
    padding-right: 16px;
  }

  .contact__item-label2 {
    display: none;
  }

  .contact__item-input {
    width: 316px;
  }
}
