.copyright {
  padding-bottom: 10px;

  text-align: center;
  line-height: 26px;
}

.copyright__text {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  font-weight: normal;
}

.copyright__link {
  display: inline-block;
  vertical-align: bottom;

  padding-left: 10px;

  &:hover svg {
    fill: #81b3d2;
  }

  &:active svg {
    fill: #000000;
    opacity: 0.3;
  }
}
