// .emotions {}
// .emotions__title {}
// .emotions__text {}

.emotions {
  width: 100%;
}

.emotions__text {
  width: 100%;
  height: 160px;
  padding-left: 21px;
  padding-top: 22px;
  padding-right: 33px;
  resize: none;

  @include set-font($fz:18px, $lh:26px);
  text-transform: none;

  &::placeholder {
    color: $secondary-text-color;
  }

  background-color: $elem-outer-fresh-color;
  border: none;
}

@media (min-width: $tablet-width) {
  .emotions__title {
    &::before {
      @include draw-line-left($t:36px, $l:0, $w:100px);
    }

    &::after {
      @include draw-line-right($t:36px, $r:0, $w:100px);
    }
  }
}

@media (min-width: $desktop-width) {
  .emotions__title {
    &::before {
      @include draw-line-left($t:36px, $l:0, $w:260px);
    }

    &::after {
      @include draw-line-right($t:36px, $r:0, $w:260px);
    }
  }
}
