.emotions {
  width: 100%;
}

.emotions__text {
  width: 100%;
  height: 160px;
  margin-top: -5px;
  padding-left: 20px;
  padding-top: 12px;
  padding-right: 20px;
  resize: none;

  @include set-font($fz:18px, $lh:26px);
  text-transform: none;

  background-color: $elem-outer-fresh-color;
  border: solid 4px $elem-outer-fresh-color;

  &::placeholder {
    color: $secondary-text-color;
  }

  &:hover {
    background-color: #e5e5e5;
    border: solid 4px #e5e5e5;
  }

  &:focus {
    border: solid 4px #e5e5e5;
    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .emotions__title {
    padding-top: 14px;
  }

  .emotions__text {
    margin-top: 37px;
  }
}

@media (min-width: $desktop-width) {
  .emotions__title {
    padding-top: 50px;
  }

  .emotions__text {
    margin-top: 37px;
  }
}
