.form {
  display: flex;
  flex-direction: column;
}

.form__item {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc(100% + #{$gap-mobile-x2});
    transform: translateX(-#{$gap-mobile});
    border-top: 1px solid $divider-color;
  }

  &--person {
    order: 1;
  }

  &--contact {
    order: 2;
  }

  &--impression {
    margin-bottom: 5px;
    order: 3;
  }

  &--visited {
    padding-bottom: 0;
    order: 4;
  }

  &--emotions {
    order: 5;
  }
}

.form__legend {
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0 auto;

  @include set-font($fz:18px, $lh:26px, $ta:center);
}

.form__button-wrap {
  margin-top: 20px;
  order: 7;
}

.form__button {
  @include button($pt:16px, $ph:47px);

  cursor: pointer;
}

.form__footnote {
  display: none;

  @include set-font($fz:14px, $lh:26px, $fw:normal) {
    color: $color-grey;
  }
}

.form input[type="radio"]:focus + label,
.form input[type="checkbox"]:focus + label {
  @include outline();
}

@media (min-width: $tablet-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 61px;
  }

  .form__legend {
    @include set-font($fz:21px, $lh:26px, $ta:center);
  }

  .form__item {
    padding-bottom: 20px;

    &::before {
      border-top: none;
    }

    &--person {
      order: 2;
      flex-basis: 266px;
    }

    &--contact {
      order: 3;
    }

    &--impression {
      position: relative;
      order: 1;
      flex-basis: 50%;

      // separator impression-block and person-block
      &::after {
        position: absolute;
        content: "";
        top: 22px;
        right: 0;
        width: 1px;
        height: calc(100% - 22px - 44px); // 22px=shift-top; 44px=shift-bottom
        background-color: $divider-color;
      }
    }

    &--visited {
      order: 4;
    }

    &--emotions {
      order: 5;
    }
  }

  .form__button-wrap {
    order: 7;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    flex-basis: 100%;
    margin-top: 30px;
  }

  .form__button {
    width: 324px;

    @include button($pt:16px, $ph:60px) {
      padding-right: 77px;
    }
  }

  .form__footnote {
    display: block;
    width: 40%;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 90px;
  }

  .form__item--person {
    flex-basis: 400px;
  }

  .form__button {
    width: 480px;

    @include button($pt:16px, $ph:145px);
  }
}
