.landmark {
  //outline: 1px solid red;

  display: flex;
  flex-direction: column;

  color: $primary-text-color;
  background-color: $primary-color;

  &--city {
    background-image: url("../../img/bg-triangle.svg");
    background-position: 0 -20px;
    background-size: 320px 37px;
    background-repeat: no-repeat;
  }
}

.landmark__info {
  text-align: center;
}

.landmark--city .landmark__info {
  padding: 43px 28px 25px;
}

.landmark--bridge .landmark__info {
  padding: 25px 30px 27px;
}

.landmark__title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px;

  & br {
    display: none;
  }
}

.landmark__number {
  margin-top: 10px;
}

.landmark__number,
.landmark__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

// .landmark__picture {}

.landmark__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .landmark {
    flex-direction: row;
    min-height: 256px;

    background-image: none;
  }

  .landmark__info {
    width: 256px;
  }

  .landmark--city .landmark__info {
    padding: 46px 45px 44px;
  }

  .landmark--bridge .landmark__info {
    padding: 46px 47px;
  }

  .landmark__wrap {
    & .landmark__title,
    & .landmark__number,
    & .landmark__text {
      margin: 0;
    }

    & .landmark__number {
      margin-top: 10px;
    }

    & .landmark__text {
      margin-top: 20px;
      // padding-left: 10px;
      // padding-right: 10px;
    }
  }

  .landmark--bridge .landmark__text {
    padding-left: 0;
    padding-right: 0;
  }

  .landmark__title {
    font-size: 21px;
    line-height: 26px;

    & br {
      display: block;
    }
  }

  .landmark--bridge .landmark__title {
    margin-top: -3px;
  }

  .landmark--bridge .landmark__picture {
    order: -1;
  }

  .landmark__picture {
    width: 512px;
    height: 256px;
  }

  .landmark__image {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .landmark__info {
    width: 400px;
    padding-top: 46px;
    padding-left: 67px;
    padding-right: 67px;
  }

  .landmark--city .landmark__info {
    padding: 46px 55px 44px;
  }

  .landmark--bridge .landmark__info {
    padding-left: 90px;
    padding-right: 90px;
  }

  .landmark__wrap .landmark__title {
    padding-top: 7px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .landmark--bridge .landmark__wrap .landmark__title {
    padding-top: 11px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .landmark__picture {
    width: 800px;
    height: 256px;
  }

  .landmark__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
