.living {
  display: block;
  padding-top: 27px;
  padding-bottom: 20px;
}

.living__item {
  background-repeat: no-repeat;

  &--house {
    padding-bottom: 18px;
    background-image: url("../img/icon-house.svg");
    background-size: 37px 36px;
    background-position: 2px 0;
  }

  &--souvenirs {
    padding-bottom: 19px;
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
    background-position: 5px 0;
  }

  &--food {
    padding-bottom: 18px;
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
    background-position: 0 5px;
  }
}

.living__wrap {
  width: 266px;
  padding-top: 10px;
  padding-left: 49px;
}

.living__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
}

.living__text {
  padding: 0;
  margin: 0;
  margin-top: 13px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: $color-grey;

  & br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .living {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 0;
    padding-bottom: 0;
  }

  .living__item {
    min-height: 330px;
    width: calc(100% / 3);

    text-align: center;

    &--house {
      background-size: 75px 72px;
      background-position: center 60px;
    }

    &--souvenirs {
      background-size: 64px 75px;
      background-position: center 57px;
      order: 3;
    }

    &--food {
      background-size: 77px 68px;
      background-position: center 63px;
    }
  }

  .living__wrap {
    padding: 0;
    margin: 0 auto;
    transform: translateY(160px);
  }

  .living__item--house .living__wrap {
    width: 160px;
  }

  .living__item--food .living__wrap {
    width: 155px;
  }

  .living__item--souvenirs .living__wrap {
    width: 165px;
  }

  .living__title {
    font-size: 21px;
    line-height: 26px;
  }

  .living__text {
    margin-top: 21px;

    & br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .living__item--house .living__wrap {
    width: 252px;
  }

  .living__item--food .living__wrap {
    width: 285px;
  }

  .living__item--souvenirs .living__wrap {
    width: 215px;
  }
}
