@charset "UTF-8";

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__toggle {
  @include insert-image($t:16px, $r:16px, $w:23px, $h:22px, $bi:url("../../img/icon-cross.svg"));
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    min-height: 56px;
    margin: 0;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }

  .main-nav__toggle {
    background-image: none;
  }
}
