.main-nav {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
}

.main-nav__list {
  @include reset-list();
}

.main-nav__toggle {
  cursor: pointer;
  z-index: 1;
}

.main-nav--closed .main-nav__toggle {
  @media (max-width: $mobile-width-only) {
    @include insert-image($t:16px, $r:19px, $w:23px, $h:22px, $bi:url("../img/icon-menu.svg"));
  }
}

.main-nav--opened .main-nav__toggle {
  @media (max-width: $mobile-width-only) {
    @include insert-image($t:16px, $r:19px, $w:23px, $h:21px, $bi:url("../img/icon-cross.svg"));
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: $tablet-width;
    min-height: 56px;
    margin: 0 auto;
  }

  .main-nav .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: $desktop-width;
  }
}
