$height-about: 80px; // height description of the block after the photo

.p {
  display: flex;
  flex-wrap: wrap;
}

.p__item {
  position: relative;

  display: flex;
  padding-top: 22px;
  padding-bottom: 16px;

  &--main {
    display: block;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: calc(100% + #{$gap-mobile-x2});

    transform: translateX(-$gap-mobile);

    border-top: 1px solid $divider-color;
  }

  &:last-of-type::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;

    width: calc(100% + #{$gap-mobile-x2});

    transform: translateX(-$gap-mobile);

    border-bottom: 1px solid  $divider-color;
  }
}

.p__picture {
  flex-basis: 280px;
}

.p__image {
  display: block;
}

.p__about {
  display: flex;
  flex-direction: column;
}

.p__text {
  text-align: left;
}

.p__title {
  margin-top: 16px;
  margin-bottom: 0;

  @include set-font($fz:14px, $lh:24px);
}

.p__author {
  margin-top: 0;
  margin-bottom: 5px;

  @include set-font($fz:14px, $lh:24px, $fw:normal);
  text-transform: none;
  color: $color-grey;
}

.p__evaluation {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 2px;

  &-like {
    margin: 0;
    margin-bottom: 5px;
    width: 23px;
    height: 21px;

    opacity: 0.3;
  }

  &-value {
    margin: 0;
    margin-left: 14px;
  }
}

@media (min-width: $tablet-width) {
  .p__item {
    padding: 0;

    &::before,
    &:last-of-type::after {
      border: none;
    }
  }

  .p__picture {
    flex-basis: 324px;
  }

  .p__item:nth-of-type(3n) .p__about {
    background-color: #eaeaea;
  }

  .p__about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: $height-about;

    background-color: #f2f2f2;
  }

  .p__text {
    padding-left: 20px;
  }

  .p__title {
    margin-top: 6px;
  }

  .p__evaluation {
    min-width: 88px;
    margin-top: 5px;
  }

  .p__evaluation-value {
    margin-left: 14px;
  }
}

@media (min-width: $desktop-width) {
  .p__picture {
    flex-basis: 400px;
  }

  .p__about {
    position: relative;
    margin-top: -$height-about;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }

  .p__item:nth-of-type(3n) .p__about {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .p__text {
    color: #ffffff;
  }

  .p__author {
    color: #ffffff;
  }

  .p__evaluation {
    color: #ffffff;

    &-like {
      opacity: 1;
      fill: #ffffff;
    }
  }
}
