.page-header {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  background-color: $bg-main-color;
}

.page-header__logo {
  position: relative;
  order: 2;

  display: block;
  height: 56px;
}

.page-header__logo-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
  }

  .page-header__logo {
    order: 0;
    height: 0;
  }

  .page-header__logo-image {
    width: 102px;
    height: 83px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}
