@charset "UTF-8";

.page-footer {
  margin: 0 auto;
  width: 320px;

  background-color: $bg-main-color;
  outline: 1px dotted blue;  /* tmp */
}

.page-footer__visit {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 16px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.page-footer__social {
  outline: 1px dotted red;
}


@media (min-width: $tablet-width) {
  .page-footer {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: $desktop-width;
  }
}
