.page-main {
  margin: 0 auto;

  background-color: $bg-main-color;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: $desktop-width;
  }
}
