.panel {
  width: $wrapper-mobile-width;
}

.panel__opacity {
  width: 100%;
  height: $mobile-video-panel-height;
  margin-top: -$mobile-video-panel-height;

  background-color: #000000;
  opacity: 0.6;
}

.panel__bar {
  position: relative;

  width: 100%;
  height: 45px;
  margin-top: -45px;
}

.panel__space {
  width: 100%;
  height: 66px;

  background-color: $white-snow-color;
}

.panel__timeline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 235px;
  height: 3px;

  opacity: 0.2;
  background-color: #ffffff;
}

.panel__buttons {
  transform: translateY(56px);
  display: flex;
  align-items: center;

  height: 100%;
}

.panel__btn {
  padding: 0;
  height: 20px;

  border: none;
  background-color: transparent;

  &--replay {
    width: 16px;
    margin-left: 25px;
  }

  &--slider {
    width: 10px;
    height: 10px;
    margin-left: 18px;
    margin-right: auto;

    transform: translateY(-56px);

    border-radius: 50%;
    background-color: #ffffff;

    cursor: pointer;
  }

  &--cc {
    width: 32px;
    margin-right: 31px;
  }

  &--fullscreen {
    width: 20px;
    margin-right: 23px;
  }

  &:hover .panel__icon {
    fill: $mobile-btn-hover-color;
  }

  &:active .panel__icon {
    fill: $mobile-btn-down-color;
  }
}

.panel__icon {
  fill: $mobile-btn-fresh-color;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .panel {
    width: $wrapper-tablet-width;
  }

  .panel__opacity,
  .panel__bar {
    height: $tablet-video-panel-height;
    margin-top: -$tablet-video-panel-height;
  }

  .panel__space {
    display: none;
  }

  .panel__timeline {
    left: 93px;
    transform: translateY(-50%);

    width: 389px;
  }

  .panel__buttons {
    transform: none;
  }

  .panel__btn {
    &--replay {
      margin-left: 35px;
    }

    &--slider {
      margin-left: 24.2%;
      transform: none;
      z-index: 100;
    }

    &--cc {
      margin-right: 31px;
    }

    &--fullscreen {
      margin-right: 41px;
    }

    &:hover .panel__icon {
      fill: $tablet-btn-hover-color;
    }

    &:active .panel__icon {
      fill: $tablet-btn-down-color;
    }
  }

  .panel__icon {
    fill: $tablet-btn-fresh-color;
  }
}


@media (min-width: $desktop-width) {
  .panel {
    width: 800px;
  }

  .panel__timeline {
    width: 540px;
  }

  .panel__btn--slider {
    margin-left: 19.2%;
  }
}
