// .reviews {}

.rewiews__words-wrap {
  padding-top: 20px;
  padding-bottom: 5px;
}

.reviews__title {
  @include set-font($fz:18px, $lh:26px, $ta:center);
}

.reviews__text {
  @include set-font($fz:14px, $lh:24px, $fw:normal, $ta:center);
  color: $color-grey;
}

//.reviews__form {//outline: 2px dotted blue;}
