// .reviews {}

.rewiews__words-wrap {
  padding-top: 20px;
  padding-bottom: 5px;
}

.reviews__title {
  @include set-font($fz:18px, $lh:26px);
  text-align: center;
}

.reviews__text {
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;

  @include set-font($fz:14px, $lh:24px, $fw:normal);
  color: $color-grey;
}

.reviews__form {
  //outline: 2px dotted blue;
}
