.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &:nth-last-of-type(1) {
    margin-bottom: 25px;
  }
}

.row__left {
  padding: 22px 15px 19px 0;

  @include set-font($fz:14px, $lh:26px, $fw:normal);
  color: $color-grey;
}

.row__right {
  width: 100%;
  padding: 22px 22px 19px 22px;

  @include set-font($fz:18px, $lh:26px);

  background-color: $white-snow-color;
  border: none;

  &::placeholder {
    color: #000000;
  }
}
