.slogan {
  background-color: $bg-main-color;
}

.slogan__wrap {
  padding: 43px 32px 10px;

  text-align: center;
  line-height: 26px;
}

.slogan__title {
  display: block;
  margin-bottom: 25px;

  font-size: 18px;
}

.slogan__text {
  font-weight: normal;
  font-size: 14px;

  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .slogan__wrap {
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 50px;
    padding-bottom: 36px;
  }

  .slogan__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
  }

  .slogan__text {
    margin-left: -8px;
  }
}

@media (min-width: $desktop-width) {
  .slogan__wrap {
    padding-left: 355px;
    padding-right: 355px;
  }
}
