@charset "UTF-8";

//.slogan {}

.slogan__content {
  padding: 43px 32px 10px;

  text-align: center;
  line-height: 26px;
}

.slogan__title {
  display: block;

  font-size: 18px;
}

.slogan__five-reasons {
  font-weight: 400;
  font-size: 14px;
}
