.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: $wrapper-mobile-width;
  list-style: none;
  padding: 0;
}

.social__item {
  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 48px;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;

    background-color: $primary-color;

    &:hover {
      background-color: $bg-btn-hover;
    }

    &:active {
      background-color: $bg-btn-down;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  & svg {
    fill: $primary-text-color;
  }
}
