.video {
  padding-bottom: 38px;
}

.video__words-wrap {
  padding: 32px 40px 26px;
}

.video__title {
  display: block;
  margin: 0 auto;

  @include set-font($fz:18px, $lh:26px);
  text-align: center;
}

.video__text {
  margin-top: 26px;
  margin-bottom: 3px;

  @include set-font($fz:14px, $lh:24px, $fw:normal);
  color: $color-grey;
  text-align: center;
}

.video__video-wrap {
  line-height: 0;
  text-align: center;
}

.video__video {
  width: 0;
  height: 0;
}

.video__image {
  display: block;
  margin: 0 auto;
  width: 321px;
  height: 201px;
}

.video__controls {
  position: relative;

  width: 280px;
  margin: 0 auto;
}

//.video__panel {}

@media (min-width: $tablet-width) {
  .video {
    padding-bottom: 40px;
  }

  .video__words-wrap {
    margin: 68px 176px 75px;
    padding: 0;
  }

  .video__title {
    font-size: 30px;
    line-height: 26px;
  }

  .video__text {
    margin-top: 30px;
  }

  .video__image {
    width: 648px;
    height: 499px;
  }

  .video__controls {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-bottom: 86px;
  }

  .video__words-wrap {
    margin: 72px 392px 72px;
  }

  .video__image {
    width: 800px;
    height: 500px;
  }

  .video__controls {
    width: 800px;
  }
}
