.visited {
  display: flex;
  flex-direction: column;
}

//.visited__title {}

.visited__block {
  display: flex;
  flex-direction: column;
}

.visited__item {
  width: 280px;
  margin-bottom: 29px;
}

.visited__label {
  position: relative;

  display: block;
  min-height: 51px;
  padding-left: 79px;
  padding-top: 12px;

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  @include set-font($fz:18px, $lh:26px);
  text-transform: none;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 51px;
    height: 51px; //100%;

    border-radius: 5px;
    background-color: $elem-outer-fresh-color;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 15px;

    width: 24px;
    height: 16px;

    background-color: transparent;
    //background-image: url("../../img/icon-tick.svg");
  }
}

.visited__input {
  &:checked + .visited__label::before {
    background-color: $elem-outer-hover-color;
  }

  &:checked + .visited__label::after {
    //background-color: $elem-inner-hover-color;
    background-image: url("../../img/icon-tick.svg");
  }

  &:not(:checked) + .visited__label:hover {
    &::before {
      background-color: $elem-outer-hover-color;
    }

    &::after {
      background-color: $elem-outer-hover-color;
      // background-image: url("../../img/icon-tick.svg");
      // opacity: 0.3;
    }
  }

  &:active + .visited__label::before {
    background-color: $elem-outer-down-color;
  }

  &:active + .visited__label::after {
    //background-color: $elem-inner-down-color;
    opacity: 0.3;
  }

  &:focus + .visited__label {
    color: lighten($secondary-text-color, 50%);
  }
}

@media (min-width: $tablet-width) {
  .visited {
    // outline: 1px dotted blue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .visited__title {
    padding: 29px 185px 44px;
  }

  .visited__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    min-height: 88px;
  }

  .visited__item {
    width: 240px;

    &:first-of-type {
      margin-left: 96px;
    }

    &:last-of-type {
      margin-right: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .visited__title {
    padding-left: 340px;
    padding-right: 340px;
  }

  .visited__block {
    display: inline-flex;
    justify-content: flex-start;
    flex-basis: 50%;
    min-height: 0;

    &:first-of-type .visited__item:last-of-type {
      width: 200px;
      max-width: 240px;
      margin-left: 21px;
    }

    &:last-of-type .visited__item:first-of-type {
      width: 200px;
      max-width: 240px;
      margin-left: 40px;
    }

    &:last-of-type .visited__item:last-of-type {
      width: 205px;
      max-width: 205px;
      margin-left: 35px;
    }
  }

  .visited__item {
    width: calc(960px / 4); // 240px
    height: fit-content;

    &:first-of-type {
      margin: 0;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
