@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"); }

/* @include outline(); */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: green; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  overflow-wrap: anywhere;
  background-color: #ffffff; }

@media (min-width: 768px) {
  body {
    width: 768px; } }

@media (min-width: 1200px) {
  body {
    width: 1200px; } }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.wrapper {
  width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .wrapper {
    width: 648px; } }

@media (min-width: 1200px) {
  .wrapper {
    width: 960px; }
    .wrapper--photo {
      width: 100%; }
    .wrapper--form {
      width: 960px; } }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff; }

.page-header__logo {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: block;
  height: 56px; }

.page-header__logo-image {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

@media (min-width: 768px) {
  .page-header {
    width: 768px; }
  .page-header__logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    height: 0; }
  .page-header__logo-image {
    width: 102px;
    height: 83px;
    z-index: 1; } }

@media (min-width: 1200px) {
  .page-header {
    width: 1200px; }
  .page-header__logo-image {
    width: 188px;
    height: 96px; } }

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto; }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.main-nav__toggle {
  cursor: pointer;
  z-index: 1; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__toggle {
    content: "";
    position: absolute;
    top: 16px;
    right: 19px;
    display: block;
    width: 23px;
    height: 22px;
    border: none;
    background-image: url("../../img/icon-menu.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 23px 22px;
    -o-object-fit: contain;
       object-fit: contain; } }

@media (max-width: 767px) {
  .main-nav--opened .main-nav__toggle {
    content: "";
    position: absolute;
    top: 16px;
    right: 19px;
    display: block;
    width: 23px;
    height: 21px;
    border: none;
    background-image: url("../../img/icon-cross.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 23px 21px;
    -o-object-fit: contain;
       object-fit: contain; } }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__list {
    display: block; } }

@media (min-width: 768px) {
  .main-nav {
    width: 768px;
    min-height: 56px;
    margin: 0 auto; }
  .main-nav .main-nav__toggle {
    display: none; } }

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px; } }

.menu {
  min-height: 55px;
  font-size: 18px;
  line-height: 40px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2; }

.menu__item {
  padding-top: 10px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2); }
  .menu__item a {
    color: #ffffff; }
  .menu__item:hover {
    background-color: #669ec0; }
  .menu__item:active {
    background-color: #5496bd; }
  .menu__item:active a {
    color: rgba(255, 255, 255, 0.3); }

.menu__item a:active {
  color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 768px;
    min-height: 56px;
    font-size: 14px;
    line-height: 26px;
    background-color: #ffffff; }
  .menu__item {
    width: 153px;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .menu__item:nth-of-type(4n + 2) {
      margin-right: auto; }
    .menu__item:nth-of-type(2) {
      margin-right: 156px; }
    .menu__item:nth-of-type(n + 5) {
      width: 154px; }
    .menu__item:nth-of-type(n + 9) {
      width: 153px; }
    .menu__item a {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      color: #000000; }
    .menu__item:hover {
      background-color: transparent; }
    .menu__item:hover a {
      color: #81b3d2; }
    .menu__item:active {
      background-color: transparent; }
    .menu__item:active a {
      color: rgba(0, 0, 0, 0.3); }
    .menu__item--active a {
      color: #766357; }
    .menu__item--active a:hover {
      color: #604e43; }
    .menu__item--active a:active {
      color: rgba(118, 99, 87, 0.3); }
  .menu__item a:active {
    color: rgba(118, 99, 87, 0.3); } }

@media (min-width: 1200px) {
  .menu {
    max-width: 1200px; }
  .menu__item {
    width: 239px; }
    .menu__item:nth-of-type(4n + 2) {
      margin-right: auto; }
    .menu__item:nth-of-type(2) {
      margin-right: 244px; }
    .menu__item:nth-of-type(n + 5) {
      width: 241px; }
    .menu__item:nth-of-type(n + 9) {
      width: 239px; } }

.page-main {
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .page-main {
    width: 768px; } }

@media (min-width: 1200px) {
  .page-main {
    width: 1200px; } }

.promo {
  height: 389px;
  background-color: #8794a1;
  background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-position: bottom 0 left 0, center;
  background-size: 320px 26px, cover;
  background-repeat: no-repeat; }
  .promo--small {
    margin-top: 3px;
    height: 160px;
    background-position: bottom 0 left 0, top -230px center;
    background-size: 320px 26px, 768px 389px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo {
    background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@2x.jpg"); } }

.promo__picture {
  width: 281px;
  height: 214px;
  margin: 0 auto;
  padding-top: 90px; }
  .promo__picture--small {
    width: 229px;
    height: 39px;
    padding-top: 50px; }

.promo__image {
  width: 100%; }

@media (min-width: 768px) {
  .promo {
    height: 518px;
    background-color: #8794a1;
    background-image: url("../../img/bg-intro-triangle-tablet.svg"), url("../../img/bg-back-tablet@1x.jpg");
    background-position: bottom 0 left 0, center;
    background-size: 768px 57px, cover;
    background-repeat: no-repeat; }
    .promo--small {
      margin-top: 0;
      height: 290px;
      background-position: bottom 0 left 0, top -230px center;
      background-size: 768px 57px, cover; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .promo {
    background-image: url("../../img/bg-intro-triangle-tablet.svg"), url("../../img/bg-back-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .promo__picture {
    padding-top: 77px;
    width: 460px;
    height: 350px; }
    .promo__picture--small {
      height: 80px;
      padding-top: 94px; } }

@media (min-width: 1200px) {
  .promo {
    height: 518px;
    background-color: #8794a1;
    background-image: url("../../img/bg-intro-triangle-desktop.svg"), url("../../img/bg-back-desktop@1x.jpg");
    background-position: bottom 0 left 0, center;
    background-size: 1200px 57px, cover;
    background-repeat: no-repeat; }
    .promo--small {
      height: 301px;
      background-position: bottom 0 left 0, top -215px center;
      background-size: 1200px 57px, cover; } }

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .promo {
    background-image: url("../../img/bg-intro-triangle-desktop.svg"), url("../../img/bg-back-desktop@2x.jpg"); } }

@media (min-width: 1200px) {
  .promo__picture--small {
    padding-top: 102px; } }

.slogan {
  background-color: #ffffff; }

.slogan__wrap {
  padding: 43px 32px 10px;
  text-align: center;
  line-height: 26px; }

.slogan__title {
  display: block;
  margin-bottom: 25px;
  font-size: 18px; }

.slogan__text {
  font-weight: normal;
  font-size: 14px; }

@media (min-width: 768px) {
  .slogan__wrap {
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 50px;
    padding-bottom: 36px; }
  .slogan__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px; }
  .slogan__text {
    margin-left: -8px; } }

@media (min-width: 1200px) {
  .slogan__wrap {
    padding-left: 355px;
    padding-right: 355px; } }

.landmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  background-color: #81b3d2; }
  .landmark--city {
    background-image: url("../../img/bg-triangle.svg");
    background-position: 0 -20px;
    background-size: 320px 37px;
    background-repeat: no-repeat; }

.landmark__info {
  text-align: center; }

.landmark--city .landmark__info {
  padding: 43px 28px 25px; }

.landmark--bridge .landmark__info {
  padding: 25px 30px 27px; }

.landmark__title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px; }
  .landmark__title br {
    display: none; }

.landmark__number {
  margin-top: 10px; }

.landmark__number,
.landmark__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.landmark__image {
  display: block; }

@media (min-width: 768px) {
  .landmark {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 256px;
    background-image: none; }
  .landmark__info {
    width: 256px; }
  .landmark--city .landmark__info {
    padding: 46px 45px 44px; }
  .landmark--bridge .landmark__info {
    padding: 46px 47px; }
  .landmark__wrap .landmark__title,
  .landmark__wrap .landmark__number,
  .landmark__wrap .landmark__text {
    margin: 0; }
  .landmark__wrap .landmark__number {
    margin-top: 10px; }
  .landmark__wrap .landmark__text {
    margin-top: 20px; }
  .landmark--bridge .landmark__text {
    padding-left: 0;
    padding-right: 0; }
  .landmark__title {
    font-size: 21px;
    line-height: 26px; }
    .landmark__title br {
      display: block; }
  .landmark--bridge .landmark__title {
    margin-top: -3px; }
  .landmark--bridge .landmark__picture {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .landmark__picture {
    width: 512px;
    height: 256px; }
  .landmark__image {
    width: 512px;
    height: 256px; } }

@media (min-width: 1200px) {
  .landmark__info {
    width: 400px;
    padding-top: 46px;
    padding-left: 67px;
    padding-right: 67px; }
  .landmark--city .landmark__info {
    padding: 46px 55px 44px; }
  .landmark--bridge .landmark__info {
    padding-left: 90px;
    padding-right: 90px; }
  .landmark__wrap .landmark__title {
    padding-top: 7px;
    padding-left: 45px;
    padding-right: 45px; }
  .landmark--bridge .landmark__wrap .landmark__title {
    padding-top: 11px;
    padding-left: 30px;
    padding-right: 30px; }
  .landmark__picture {
    width: 800px;
    height: 256px; }
  .landmark__image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%; } }

.advantage-living {
  background-color: #ffffff; }

.advantage-living__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .advantage-living__list {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0; } }

.living {
  padding-top: 18px;
  padding-bottom: 20px; }

.living__item {
  min-height: 120px; }

.living__item--house .living__photo {
  padding-top: 10px; }

.living__item--souvenirs .living__photo {
  padding-top: 2px;
  padding-left: 4px; }

.living__item--souvenirs .living__title {
  margin-top: 12px; }

.living__item--food .living__title {
  margin-top: 4px;
  margin-left: -4px; }

.living__item--food .living__text {
  margin-left: -4px; }

.living__photo {
  display: inline-block;
  vertical-align: top; }

.living__wrap {
  display: inline-block;
  vertical-align: top;
  max-width: 220px;
  padding-left: 10px; }

.living__title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px; }

.living__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333; }
  .living__text br {
    display: none; }

@media (min-width: 768px) {
  .living {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    padding-bottom: 0; }
  .living__item {
    min-height: 332px;
    width: calc(100% / 3);
    text-align: center; }
    .living__item:nth-of-type(2) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
  .living__item--house .living__photo {
    padding-top: 60px; }
    .living__item--house .living__photo .living__image {
      width: 75px;
      height: 72px; }
  .living__item--food .living__photo {
    padding-top: 63px; }
    .living__item--food .living__photo .living__image {
      width: 77px;
      height: 68px; }
  .living__item--souvenirs .living__photo {
    padding-top: 57px; }
    .living__item--souvenirs .living__photo .living__image {
      width: 64px;
      height: 75px; }
  .living__wrap {
    display: block;
    margin: 0 auto;
    margin-top: 22px;
    margin-left: 51px;
    margin-right: 51px;
    padding: 0; }
  .living__item--house .living__wrap {
    margin-left: 46px;
    margin-right: 46px; }
  .living__item--souvenirs .living__wrap {
    margin-left: 46px;
    margin-right: 46px; }
  .living__title {
    font-size: 21px;
    line-height: 26px; }
  .living__text {
    margin: 0;
    padding: 0;
    margin-top: 23px; }
    .living__text br {
      display: block; } }

@media (min-width: 1200px) {
  .living__wrap {
    max-width: 285px;
    margin: 0 auto;
    margin-top: 22px; }
  .living__item--house .living__wrap {
    margin-left: 73px;
    margin-right: 73px; }
  .living__item--souvenirs .living__wrap {
    margin-left: 80px;
    margin-right: 80px; }
  .living__item--souvenirs .living__photo {
    padding-left: 0; } }

.advantage-location {
  text-align: center; }

.advantage-location__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.location {
  background-color: #eeeeee; }

.location__item {
  position: relative;
  min-height: 166px;
  padding-top: 28px; }
  .location__item::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 20px;
    height: 1px;
    width: 280px;
    background-color: #d6d6d6; }
  .location__item:last-of-type::after {
    content: none; }
  .location__item:nth-of-type(1) > .location__wrap {
    padding-left: 41px;
    padding-right: 41px; }
  .location__item:nth-of-type(2) > .location__wrap {
    padding-left: 56px;
    padding-right: 56px; }
  .location__item:nth-of-type(3) > .location__wrap {
    padding-left: 35px;
    padding-right: 35px; }

.location__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px; }

.location__number,
.location__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333; }

.location__number {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 256px;
    padding-left: 0; }
  .location__item {
    width: calc(100% / 3);
    padding-top: 44px; }
    .location__item::after {
      content: none; }
    .location__item:nth-of-type(3) > .location__wrap {
      padding-left: 55px;
      padding-right: 55px; }
  .location__title {
    font-size: 21px;
    line-height: 26px; }
  .location__number {
    margin-bottom: 20px; } }

@media (min-width: 1200px) {
  .location__item:nth-of-type(1) > .location__wrap {
    padding-left: 57px;
    padding-right: 58px; }
  .location__item:nth-of-type(2) > .location__wrap {
    padding-left: 69px;
    padding-right: 69px; }
  .location__item:nth-of-type(3) > .location__wrap {
    padding-left: 70px;
    padding-right: 70px; }
  .location__title {
    padding-left: 57px;
    padding-right: 58px; }
  .location__number {
    margin-bottom: 21px; }
  .location__text {
    margin-left: -2px; } }

.invitation {
  padding-bottom: 48px;
  text-align: center; }

.invitation__wrap {
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px; }

.invitation__title {
  font-size: 21px;
  line-height: 26px; }

.invitation__text {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333; }
  .invitation__text br {
    display: none; }

.invitation__button {
  margin-top: 25px;
  display: block;
  padding: 17px 45px 17px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  display: inline-block;
  vertical-align: baseline;
  padding-right: 48px; }
  .invitation__button:hover {
    background-color: #669ec0; }
  .invitation__button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3); }
  .invitation__button--disabled {
    background-color: #e5e5e5; }

@media (min-width: 768px) {
  .invitation {
    padding-top: 20px;
    padding-bottom: 58px;
    margin-bottom: 0; }
  .invitation__wrap {
    padding-left: 160px;
    padding-right: 160px; }
  .invitation__title {
    font-size: 30px;
    line-height: 26px; }
  .invitation__text {
    margin-top: 28px;
    margin-bottom: 14px; }
    .invitation__text br {
      display: block; }
  .invitation__button {
    margin-top: 27px;
    padding: 17px 130px;
    max-width: 458px; } }

@media (min-width: 1200px) {
  .invitation {
    padding-bottom: 65px; }
  .invitation__wrap {
    padding-top: 36px;
    padding-left: 380px;
    padding-right: 380px; }
  .invitation__text {
    margin-top: 25px; }
  .invitation__button {
    margin-top: 32px; } }

.map {
  position: relative;
  line-height: 0; }

.map__image {
  display: block; }

.map__interactive {
  border: none; }
  .map__interactive--nojs {
    display: none; }

.map__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  min-height: 243px;
  background-color: #ffffff; }

.page-footer__wrapper {
  margin: 0 auto; }

.page-footer__visit {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
  text-align: center; }

.page-footer__social {
  margin-bottom: 24px; }

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    min-height: 120px;
    height: 1px; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 648px;
    margin: 0 auto; }
  .page-footer__visit {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    padding: 0;
    text-align: left; }
  .page-footer__social {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    margin-bottom: 0; }
  .page-footer__copyright {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    text-align: right; } }

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px; }
  .page-footer__wrapper {
    width: 960px; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
  list-style: none;
  padding: 0; }

.social__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #81b3d2; }
  .social__item a:hover {
    background-color: #669ec0; }
  .social__item a:active {
    background-color: #5496bd; }
  .social__item a:active svg {
    opacity: 0.3; }

.social__item svg {
  fill: #ffffff; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 26px; }

.copyright__text {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: normal; }

.copyright__link {
  margin-top: 8px;
  padding-left: 14px; }
  .copyright__link:hover svg {
    fill: #81b3d2; }
  .copyright__link:active svg {
    fill: #000000;
    opacity: 0.3; }
  .copyright__link:focus {
    outline: none; }
  .copyright__link:focus svg {
    outline-color: #4d90fe;
    outline-offset: 1px;
    outline-style: auto;
    outline-width: 5px; }

.copyright svg {
  pointer-events: none; }

@media (min-width: 768px) {
  .copyright {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

/*
.copyright {
  padding-bottom: 10px;

  text-align: center;
  line-height: 26px;
}

.copyright__text {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  font-weight: normal;
}

.copyright__link {
  display: inline-block;
  vertical-align: bottom;

  padding-left: 10px;

  &:hover svg {
    fill: #81b3d2;
  }

  &:active svg {
    fill: #000000;
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus svg {
    @include outline();
  }
}

.copyright svg {
  pointer-events: none;
}

*/
.media__wrap {
  margin-top: 38px;
  margin-bottom: 29px;
  padding-left: 4px;
  padding-right: 4px; }

.media__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.media__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: center; }

.media__text {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: center;
  color: #333333; }

@media (min-width: 768px) {
  .media__wrap {
    margin: 75px 108px 68px;
    padding: 0; }
  .media__title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 26px; } }

@media (min-width: 1200px) {
  .media__wrap {
    margin: 110px 383px 71px; } }

.p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.p__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 22px;
  padding-bottom: 16px; }
  .p__item--main {
    display: block; }
  .p__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc(100% + 40px);
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    border-top: 1px solid #d6d6d6; }
  .p__item:last-of-type::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: calc(100% + 40px);
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    border-bottom: 1px solid #d6d6d6; }

.p__picture {
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px; }

.p__image {
  display: block; }

.p__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.p__text {
  text-align: left; }

.p__title {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: inherit; }

.p__author {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: inherit;
  text-transform: none;
  color: #333333; }

.p__evaluation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px; }
  .p__evaluation-like {
    margin: 0;
    margin-bottom: 5px;
    width: 23px;
    height: 21px;
    opacity: 0.3; }
  .p__evaluation-value {
    margin: 0;
    margin-left: 14px; }

@media (min-width: 768px) {
  .p__item {
    padding: 0; }
    .p__item::before, .p__item:last-of-type::after {
      border: none; }
  .p__picture {
    -ms-flex-preferred-size: 324px;
        flex-basis: 324px; }
  .p__item:nth-of-type(3n) .p__about {
    background-color: #eaeaea; }
  .p__about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px;
    background-color: #f2f2f2; }
  .p__text {
    padding-left: 20px; }
  .p__title {
    margin-top: 6px; }
  .p__evaluation {
    min-width: 88px;
    margin-top: 5px; }
  .p__evaluation-value {
    margin-left: 14px; } }

@media (min-width: 1200px) {
  .p__picture {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px; }
  .p__about {
    position: relative;
    margin-top: -80px;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none; }
  .p__item:nth-of-type(3n) .p__about {
    background-color: rgba(0, 0, 0, 0.3); }
  .p__text {
    color: #ffffff; }
  .p__author {
    color: #ffffff; }
  .p__evaluation {
    color: #ffffff; }
    .p__evaluation-like {
      opacity: 1;
      fill: #ffffff; } }

.video {
  padding-bottom: 38px; }

.video__words-wrap {
  padding: 32px 40px 26px; }

.video__title {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: inherit;
  text-align: center; }

.video__text {
  margin-top: 26px;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: inherit;
  color: #333333;
  text-align: center; }

.video__video-wrap {
  line-height: 0;
  text-align: center; }

.video__video {
  width: 0;
  height: 0; }

.video__image {
  display: block;
  margin: 0 auto;
  width: 321px;
  height: 201px; }

.video__controls {
  position: relative;
  width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .video {
    padding-bottom: 40px; }
  .video__words-wrap {
    margin: 68px 176px 75px;
    padding: 0; }
  .video__title {
    font-size: 30px;
    line-height: 26px; }
  .video__text {
    margin-top: 30px; }
  .video__image {
    width: 648px;
    height: 499px; }
  .video__controls {
    width: 648px; } }

@media (min-width: 1200px) {
  .video {
    padding-bottom: 86px; }
  .video__words-wrap {
    margin: 72px 392px 72px; }
  .video__image {
    width: 800px;
    height: 500px; }
  .video__controls {
    width: 800px; } }

.panel {
  width: 280px; }

.panel__opacity {
  width: 100%;
  height: 45px;
  margin-top: -45px;
  background-color: #000000;
  opacity: 0.6; }

.panel__bar {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: -45px; }

.panel__space {
  width: 100%;
  height: 66px;
  background-color: #f2f2f2; }

.panel__timeline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 235px;
  height: 3px;
  opacity: 0.2;
  background-color: #ffffff; }

.panel__slider {
  position: absolute;
  top: 50%;
  left: 21%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer; }

.panel__buttons {
  -webkit-transform: translateY(56px);
          transform: translateY(56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.panel__btn {
  padding: 0;
  height: 20px;
  border: none;
  background-color: transparent; }
  .panel__btn--replay {
    width: 16px;
    margin-left: 25px;
    margin-right: auto; }
  .panel__btn--cc {
    width: 32px;
    margin-right: 31px; }
  .panel__btn--fullscreen {
    width: 20px;
    margin-right: 23px; }
  .panel__btn:hover .panel__icon {
    fill: #333333; }
  .panel__btn:active .panel__icon {
    fill: rgba(51, 51, 51, 0.3); }

.panel__icon {
  fill: #5c6870;
  cursor: pointer; }

@media (min-width: 768px) {
  .panel {
    width: 648px; }
  .panel__opacity,
  .panel__bar {
    height: 93px;
    margin-top: -93px; }
  .panel__space {
    display: none; }
  .panel__timeline {
    left: 93px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 389px; }
  .panel__slider {
    left: 32%; }
  .panel__buttons {
    -webkit-transform: none;
            transform: none; }
  .panel__btn--replay {
    margin-left: 35px; }
  .panel__btn--cc {
    margin-right: 31px; }
  .panel__btn--fullscreen {
    margin-right: 41px; }
  .panel__btn:hover .panel__icon {
    fill: rgba(255, 255, 255, 0.6); }
  .panel__btn:active .panel__icon {
    fill: rgba(255, 255, 255, 0.3); }
  .panel__icon {
    fill: white; } }

@media (min-width: 1200px) {
  .panel {
    width: 800px; }
  .panel__timeline {
    width: 540px; }
  .panel__slider {
    left: 25.6%; } }

.rewiews__info {
  padding-top: 22px;
  padding-bottom: 2px; }

.reviews__title {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: center; }

.reviews__text {
  padding-top: 11px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: center;
  color: #333333; }

.reviews__form {
  padding-bottom: 37px; }

@media (min-width: 768px) {
  .rewiews__info {
    margin-left: 102px;
    margin-right: 102px;
    padding-top: 50px;
    padding-right: 3px; }
  .reviews__title {
    margin-bottom: 19px;
    font-size: 30px;
    line-height: 26px; }
  .reviews__form {
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .rewiews__info {
    margin-left: 258px;
    margin-right: 258px;
    padding-top: 87px;
    padding-right: 3px; }
  .reviews__form {
    margin-top: 25px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__item {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none; }
  .form__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc(100% + 40px);
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    border-top: 1px solid #d6d6d6; }
  .form__item--impression {
    margin-bottom: 5px; }
  .form__item--visited {
    padding-bottom: 0; }

.form__legend {
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: center; }

.form__button-wrap {
  margin-top: 20px; }

.form__button {
  display: block;
  padding: 16px 47px 16px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer; }

.form__footnote {
  display: none;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: inherit;
  color: #333333; }

.form input[type="radio"]:focus + label,
.form input[type="checkbox"]:focus + label {
  outline-color: #4d90fe;
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 5px; }

@media (min-width: 768px) {
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 61px; }
  .form__legend {
    font-size: 21px;
    line-height: 26px;
    font-family: "PT Sans";
    font-weight: 700;
    text-align: center; }
  .form__item {
    padding-bottom: 20px; }
    .form__item::before {
      border-top: none; }
    .form__item--person {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      -ms-flex-preferred-size: 266px;
          flex-basis: 266px; }
    .form__item--contact {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; }
    .form__item--impression {
      position: relative;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
      .form__item--impression::after {
        position: absolute;
        content: "";
        top: 22px;
        right: 0;
        width: 1px;
        height: calc(100% - 22px - 44px);
        background-color: #d6d6d6; }
    .form__item--visited {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5; }
    .form__item--emotions {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6; }
  .form__button-wrap {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 30px; }
  .form__button {
    width: 324px;
    display: block;
    padding: 16px 60px 16px;
    font-family: inherit;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    padding-right: 77px; }
  .form__footnote {
    display: block;
    width: 40%;
    text-align: end; } }

@media (min-width: 1200px) {
  .form {
    padding-bottom: 90px; }
  .form__item--person {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px; }
  .form__button {
    width: 480px;
    display: block;
    padding: 16px 145px 16px;
    font-family: inherit;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none; } }

.person__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 58px;
  margin-bottom: 20px; }
  .person__item:nth-last-of-type(1) {
    margin-bottom: 0; }
  .person__item-label {
    padding: 18px 13px 14px 0;
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans";
    font-weight: normal;
    text-align: inherit;
    color: #333333; }
  .person__item-input {
    height: 58px;
    min-width: 192px;
    width: 192px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 16px 22px;
    font-size: 18px;
    line-height: 26px;
    font-family: "PT Sans";
    font-weight: 700;
    text-align: inherit;
    background-color: #f2f2f2;
    border: none; }
    .person__item-input::-webkit-input-placeholder {
      color: #000000; }
    .person__item-input::-moz-placeholder {
      color: #000000; }
    .person__item-input:-ms-input-placeholder {
      color: #000000; }
    .person__item-input::-ms-input-placeholder {
      color: #000000; }
    .person__item-input::placeholder {
      color: #000000; }
  .person__item:first-of-type .person__item-input {
    min-width: 230px;
    width: 230px; }

@media (min-width: 768px) {
  .person__title {
    text-align: left; }
  .person__block {
    margin-top: 36px; }
  .person__item-input {
    width: 178px;
    min-width: 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
  .person__item:first-of-type .person__item-input {
    min-width: 216px;
    width: 216px; } }

@media (min-width: 1200px) {
  .person__title {
    text-align: left; }
  .person__item-input {
    width: 312px;
    min-width: 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
  .person__item:first-of-type .person__item-input {
    min-width: 350px; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px; }

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0; }
  .contact__item:last-of-type .contact__label {
    margin-top: 10px; }

.contact__label {
  padding-left: 22px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: inherit;
  color: #333333; }

.contact__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 58px; }

.contact__input {
  height: 100%;
  width: 100%;
  padding: 16px 78px 16px 22px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: inherit;
  background-color: #f2f2f2;
  border: none; }
  .contact__input::-webkit-input-placeholder {
    color: #000000; }
  .contact__input::-moz-placeholder {
    color: #000000; }
  .contact__input:-ms-input-placeholder {
    color: #000000; }
  .contact__input::-ms-input-placeholder {
    color: #000000; }
  .contact__input::placeholder {
    color: #000000; }

.contact__icon-wrap {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 58px;
  min-width: 58px;
  height: 97%;
  z-index: 1;
  background-color: #e6e6e6; }

.contact__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@media (min-width: 768px) {
  .contact__item:first-of-type .contact__label {
    padding-top: 3px; }
  .contact__item:last-of-type .contact__label {
    padding-top: 11px; } }

@media (min-width: 1200px) {
  .contact__title {
    padding-top: 16px;
    padding-bottom: 74px; }
  .contact__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 960px; }
  .contact__item:first-of-type .contact__label {
    padding-top: 9px; }
  .contact__item:last-of-type .contact__label {
    padding-top: 0; }
  .contact__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
    margin-bottom: 0; }
    .contact__item:last-of-type {
      width: 479px; }
  .contact__label {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 0;
    padding-right: 0; }
  .contact__wrap {
    width: 316px;
    min-width: 316px; }
  .contact__label2 {
    display: none; }
  .contact__input {
    width: 316px; } }

.impression__item {
  min-height: 51px; }
  .impression__item:first-of-type {
    margin-top: 4px; }
  .impression__item:nth-of-type(n+2) {
    margin-top: 18px; }

.impression__block {
  margin-left: 3px; }

.impression__label {
  position: relative;
  display: block;
  min-height: 51px;
  padding-left: 77px;
  padding-top: 12px;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: inherit;
  text-transform: none; }
  .impression__label:nth-last-of-type(1) {
    margin-bottom: 0; }
  .impression__label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #f2f2f2; }
  .impression__label::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 50%; }

.impression__input:checked + .impression__label::before {
  background-color: #e5e5e5; }

.impression__input:checked + .impression__label::after {
  background-color: #333333; }

.impression__input:not(:checked) + .impression__label:hover::before {
  background-color: #e5e5e5; }

.impression__input:not(:checked) + .impression__label:hover::after {
  background-color: #d5d5d5; }

.impression__input:active + .impression__label::before {
  background-color: #e5e5e5; }

.impression__input:active + .impression__label::after {
  background-color: rgba(51, 51, 51, 0.3); }

.impression__input:focus + .impression__label {
  color: gray; }

@media (min-width: 768px) {
  .impression__title {
    text-align: left; }
  .impression__block {
    margin-top: 40px; }
  .impression__label {
    padding-left: 73px;
    padding-right: 16px; }
  .impression__item:nth-of-type(n+1) {
    margin-bottom: 28px; } }

@media (min-width: 1200px) {
  .impression__title {
    padding-left: 79px; }
  .impression__block {
    margin-left: 7px; }
  .impression__label {
    padding-left: 73px; } }

.visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.visited__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.visited__item {
  width: 280px;
  margin-bottom: 29px; }

.visited__label {
  position: relative;
  display: block;
  min-height: 51px;
  padding-left: 79px;
  padding-top: 12px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: inherit;
  text-transform: none; }
  .visited__label:nth-last-of-type(1) {
    margin-bottom: 0; }
  .visited__label::before {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    width: 51px;
    height: 51px;
    border-radius: 5px;
    background-color: #f2f2f2; }
  .visited__label::after {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 15px;
    width: 24px;
    height: 16px;
    background-color: transparent; }

.visited__input:checked + .visited__label::before {
  background-color: #e5e5e5; }

.visited__input:checked + .visited__label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.049' height='16.249' version='1'%3E%3Cpath d='M22.801 1.299L21.75.248a.853.853 0 00-1.203 0L8.693 12.102 2.502 5.911a.853.853 0 00-1.203 0L.248 6.962a.852.852 0 000 1.202l7.837 7.837a.845.845 0 00.608.246c.22.002.44-.079.608-.246l13.5-13.5a.852.852 0 000-1.202z'/%3E%3C/svg%3E"); }

.visited__input:not(:checked) + .visited__label:hover::before {
  background-color: #e5e5e5; }

.visited__input:not(:checked) + .visited__label:hover::after {
  background-color: #e5e5e5; }

.visited__input:active + .visited__label::before {
  background-color: #d5d5d5; }

.visited__input:active + .visited__label::after {
  opacity: 0.3; }

.visited__input:focus + .visited__label {
  color: gray; }

@media (min-width: 768px) {
  .visited {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .visited__title {
    padding: 29px 185px 44px; }
  .visited__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 88px; }
  .visited__item {
    width: 240px; }
    .visited__item:first-of-type {
      margin-left: 96px; }
    .visited__item:last-of-type {
      margin-right: 52px; } }

@media (min-width: 1200px) {
  .visited__title {
    padding-left: 340px;
    padding-right: 340px; }
  .visited__block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    min-height: 0; }
    .visited__block:first-of-type .visited__item:last-of-type {
      width: 200px;
      max-width: 240px;
      margin-left: 21px; }
    .visited__block:last-of-type .visited__item:first-of-type {
      width: 200px;
      max-width: 240px;
      margin-left: 40px; }
    .visited__block:last-of-type .visited__item:last-of-type {
      width: 205px;
      max-width: 205px;
      margin-left: 35px; }
  .visited__item {
    width: calc(960px / 4);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .visited__item:first-of-type {
      margin: 0; }
    .visited__item:last-of-type {
      margin: 0; } }

.emotions {
  width: 100%; }

.emotions__text {
  width: 100%;
  height: 160px;
  margin-top: -5px;
  padding-left: 21px;
  padding-top: 15px;
  padding-right: 33px;
  resize: none;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: inherit;
  text-transform: none;
  background-color: #f2f2f2;
  border: none; }
  .emotions__text::-webkit-input-placeholder {
    color: #000000; }
  .emotions__text::-moz-placeholder {
    color: #000000; }
  .emotions__text:-ms-input-placeholder {
    color: #000000; }
  .emotions__text::-ms-input-placeholder {
    color: #000000; }
  .emotions__text::placeholder {
    color: #000000; }

@media (min-width: 768px) {
  .emotions__title {
    padding-top: 14px; }
  .emotions__text {
    margin-top: 37px; } }

@media (min-width: 1200px) {
  .emotions__title {
    padding-top: 50px; }
  .emotions__text {
    margin-top: 37px; } }

.card {
  margin: 0 auto;
  width: 320px;
  padding-top: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15); }
  .card--err {
    padding-bottom: 35px; }
  .card--ok {
    padding-bottom: 0; }

.card__info {
  padding-left: 55px;
  padding-right: 55px;
  text-align: center; }

.card__title {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  font-weight: 700;
  text-align: inherit; }

.card__text {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: inherit;
  color: #333333; }

.card__botton-wrap {
  margin: 0 auto; }

.card--err .card__botton-wrap {
  margin-top: 25px; }

.card--ok .card__botton-wrap {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2; }

.card__button {
  margin: 0 auto;
  display: block;
  padding: 16px 0 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer; }

.card--err .card__button {
  width: 180px; }

.card--ok .card__button {
  width: 280px; }

@media (min-width: 768px) {
  .card {
    min-height: 347px; }
    .card--err {
      width: 400px; }
    .card--ok {
      width: 640px; }
  .card--err .card__info {
    padding-left: 59px;
    padding-right: 59px; }
  .card--ok .card__info {
    padding-left: 112px;
    padding-right: 112px; }
  .card__title {
    font-size: 30px;
    line-height: 40px;
    font-family: "PT Sans";
    font-weight: 700;
    text-align: inherit; }
  .card__text {
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans";
    font-weight: normal;
    text-align: inherit; }
  .card--ok .card__botton-wrap {
    margin-top: 40px;
    padding-top: 44px;
    padding-bottom: 44px; }
  .card--err .card__button {
    width: 272px;
    margin: 0 auto;
    padding-left: 122px;
    padding-right: 122px; }
  .card--ok .card__button {
    width: 458px;
    margin: 0 auto;
    padding-left: 154px;
    padding-right: 154px; } }

@media (min-width: 768px) {
  .line--contact::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 125px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--contact::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 0;
    width: 125px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--visited::before {
    position: absolute;
    content: "";
    top: 55px;
    left: 0;
    width: 125px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--visited::after {
    position: absolute;
    content: "";
    top: 55px;
    right: 0;
    width: 125px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--emotions::before {
    position: absolute;
    content: "";
    top: 28px;
    left: 0;
    width: 125px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--emotions::after {
    position: absolute;
    content: "";
    top: 28px;
    right: 0;
    width: 125px;
    height: 1px;
    background-color: #d6d6d6; } }

@media (min-width: 1200px) {
  .line--contact::before {
    position: absolute;
    content: "";
    top: 28px;
    left: 0;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--contact::after {
    position: absolute;
    content: "";
    top: 28px;
    right: 0;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--visited::before {
    position: absolute;
    content: "";
    top: 55px;
    left: 0;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--visited::after {
    position: absolute;
    content: "";
    top: 55px;
    right: 0;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--emotions::before {
    position: absolute;
    content: "";
    top: 60px;
    left: 0;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6; }
  .line--emotions::after {
    position: absolute;
    content: "";
    top: 60px;
    right: 0;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6; } }

/* только для IE11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .invitation__button:focus,
  .panel__btn:focus,
  .panel__slider:focus,
  .form__button:focus,
  .social__link:focus,
  .copyright__link:focus svg,
  .form input:focus,
  .form textarea:focus,
  .form input[type="radio"]:focus + label,
  .form input[type="checkbox"]:focus + label {
    outline: none;
    -webkit-box-shadow: 0 0 5px 3px #4d90fe;
            box-shadow: 0 0 5px 3px #4d90fe; } }

/* только Firefox и Edge */
@supports (-moz-appearance: none) or (-ms-ime-align: auto) {
  button:focus,
  .card__button:focus,
  .invitation__button:focus,
  .panel__btn:focus,
  .panel__slider:focus,
  .form__button:focus,
  .social__link:focus,
  .copyright__link:focus svg,
  .form input:focus,
  .form textarea:focus,
  .form input[type="radio"]:focus + label,
  .form input[type="checkbox"]:focus + label {
    outline: 2px solid #81b3d2;
    outline-offset: 1px; } }

/* Safari */

/*# sourceMappingURL=style.css.map */
