@charset "UTF-8";

html {
  box-sizing: border-box;
  background-color: green;  // test
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: $font-stack;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  overflow-wrap: anywhere;

  background-color: $bg-main-color;
  //background-color: orange;
}

@media (min-width: $tablet-width) {
  body {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: $desktop-width;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
