// @include set-font($fz:18px, $lh:26px, $fw:normal, $ta:center);
@mixin set-font($fz, $lh:inherit, $ff:"PT Sans", $fw:700, $ta:inherit) {
  font-size: $fz;
  line-height: $lh;
  font-family: $ff;
  font-weight: $fw;
  text-align: $ta;
  @content;
}

// @include reset-list();
@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style: none;
  @content;
}

// include draw-line-left($t:0, $l:10px, $w:100px)
@mixin draw-line-left($t:0, $l:0, $w:100px, $h:1px, $bg:$divider-color) {
  position: absolute;
  content: "";
  top: $t;
  left: $l;

  width: $w;
  height: $h;

  background-color: $bg;
  @content;
}

// include draw-line-right($t:0, $r:10px, $w:100px)
@mixin draw-line-right($t:0, $r:0, $w:100px, $h:1px, $bg:$divider-color) {
  position: absolute;
  content: "";
  top: $t;
  right: $r;

  width: $w;
  height: $h;

  background-color: $bg;
  @content;
}

// @include insert-image($t:16px, $r:16px, $w:23px, $h:22px, $bi:none);
@mixin insert-image($t:0, $r:0, $w:20px, $h:20px, $bi:none) {
  position: absolute;
  content: "";
  top: $t;
  right: $r;

  display: block;

  width: $w;
  height: $h;

  border: none;
  background-image: $bi;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: $w $h;
  object-fit: contain;
}

// @include button($pt:17px, $ph:47px);
@mixin button($pt, $ph, $pb:$pt, $fz:21px, $lh:26px, $ff:inherit, $tt:uppercase, $cr:$primary-text-color, $bg:$primary-color) {

  display: block;
  padding: $pt $ph $pb; // top horizontal bottom;

  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  text-align: center;
  text-transform: $tt;
  color: $cr;

  background-color: $bg;
  border: none;
  @content;
}

// @include outline();
@mixin outline() {
  outline-color: rgb(77, 144, 254);
  outline-offset: 1px;
  outline-style: auto;
  outline-width: 5px;
  @content;
}
